<section
    class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
    id="actualidad"
    data-header-color="black"
>
    <div class="z-30 relative h-full flex flex-col text-white">
        <h3 class="text-white pt-40 text-[40px] font-medium">Novedades</h3>
        <p class="text-white text-sm max-w-sm m-auto">
            Desde el equipo de Cine de Guerrilla les recibimos con un: "Buenos
            días, tardes, noches a todos los que han llegado hasta aquí". Y les
            despedimos con un: "Felicidad eterna y gracias por venir".
        </p>
    </div>
</section>
