<section
    class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
    id="contacto"
    data-header-color="black"
>
    <div class="z-30 relative h-full flex flex-col text-white">
        <h3 class="text-white pt-40 text-[40px] font-medium">Contacto</h3>
        <ul class="flex flex-col flex-grow flex-nowrap justify-center pb-20">
            <li>
                <a href="mailto:kathyramos@cinedeguerrilla.com"
                    >Jefa de Proyectos</a>
            </li>
            <li><a href="mailto:tommyllorens@cinedeguerrilla.com">CEO</a></li>
            <li>
                <a href="mailto:giselacuevas@cinedeguerrilla.com"
                    >Marketing y Desarrollo</a>
            </li>
        </ul>
    </div>
</section>
