<section
    class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
    id="des-eterna"
    data-header-color="white"
>
    <div class="z-30 relative h-full flex flex-col">
        <header class="">
            <h2 class="text-white pt-40 text-[40px] font-medium">Eterna</h2>
            <p class="text-white text-sm max-w-sm m-auto">
                Soledad, una preciosa mujer madura se ve obligada a volver a su
                pequeño pueblo y hacerse cargo de la vieja casona familiar
                después de 40 años de ausencia. Allí, intentará rehacer su vida
                y superar la enfermedad,pero se reencontrará con su demonio más
                temido… su madre muerta.
            </p>
        </header>
        <footer class="flex flex-col flex-grow flex-nowrap justify-end pb-20">
            <div class="flex flex-row justify-center gap-x-6">
                <a
                    class="text-white bg-gray-700 text-sm border-[3px] border-gray-700 rounded font-medium px-12 py-2 inline-block hover:bg-gray-500 hover:border-gray-500 transition-colors"
                    href="#">Más información</a
                >
                <a
                    class="bg-white text-black text-sm border-[3px] border-white rounded font-medium px-12 py-2 inline-block hover:bg-black hover:border-black hover:text-white transition-colors"
                    href="#">Descubré</a
                >
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img
            class="object-center object-cover h-full w-screen"
            alt="portada Eterna"
            src="/images/eterna.jpeg"
        />
    </div>
</section>
