---
import FilmSection from "./FilmSection.astro";
---

<!-- <FilmSection
    color="white"
    title="E C O S"
    subtitle="ECOS es una pelicula de amor, de un amor sincero, de un amor
    silente, de un amor perdido, de un amor naciente, de un amor sin
    miedo, de un amor sin red. Esos seis amores coinciden en un
    momento y un lugar: el 22 del 02 del 2022, en la isla de La
    Palma, en una tarde sin final."
    id="dis-ecos"
>
    <div slot="footer">
        <a
            class="text-white bg-white/5 backdrop-blur-sm border-[3px] border-white text-sm rounded font-medium px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
            href="https://www.filmin.es/pelicula/ecos#details">Ver online</a
        >
    </div>
    <video
        slot="background"
        class="object-center object-cover h-full w-full"
        autoplay
        muted
        loop
        src="/videos/tlr-ecos-ve-hd.mp4"></video>
</FilmSection> -->

<section
    class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
    id="dis-ecos"
    data-header-color="white"
>
    <div class="z-30 relative h-full flex flex-col">
        <header class="">
            <h2 class="text-white pt-40 text-[40px] font-medium">E C O S</h2>
            <p class="text-white text-sm max-w-sm m-auto">
                ECOS es una pelicula de amor, de un amor sincero, de un amor
                silente, de un amor perdido, de un amor naciente, de un amor sin
                miedo, de un amor sin red. Esos seis amores coinciden en un
                momento y un lugar: el 22 del 02 del 2022, en la isla de La
                Palma, en una tarde sin final.
            </p>
        </header>
        <footer class="flex flex-col flex-grow flex-nowrap justify-end pb-20">
            <div>
                <a
                    class="text-white bg-white/5 backdrop-blur-sm border-[3px] border-white text-sm rounded font-medium px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
                    href="https://www.filmin.es/pelicula/ecos#details"
                    >Ver online</a
                >
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <video
            class="object-center object-cover h-full"
            autoplay
            muted
            loop
            src="/videos/tlr-ecos-ve-hd.mp4"></video>
    </div>
</section>
