<section
    class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
    id="nosotros"
    data-header-color="black"
>
    <div class="z-30 relative h-full flex flex-col text-white">
        <h3 class="text-white pt-40 text-[40px] font-medium">Quiénes somos</h3>
        <p class="text-white text-sm max-w-sm m-auto">
            Cine de Guerrilla es una productora audiovisual independiente,
            ubicada en España, con una trayectoria de 12 años, en los cuales
            hemos finalizado la producción de 10 cortometrajes, un mediometraje,
            tres obras teatrales y nuestro primer largometraje de ficción
            "Ecos". Con todos ellos hemos tenido la suerte de ser seleccionados
            y premiados en distintos festivales, tanto nacionales, como
            internacionales y sobre todo de hacer lo que nos gusta. Actualmente
            nos encontramos inmersos en el desarrollo y preproducción de dos
            proyectos que esperemos vean la luz pronto: Eterna y Alelí.
        </p>
    </div>
</section>
